.signature-dialog-title {
	font-size: 20px !important;
	font-weight: 600 !important;
	text-align: center;
	padding-top: 30px !important;
	padding-bottom: 10px !important;
	font-family: 'Open Sans', sans-serif !important;
	color: $dark-blue;
}

.signature_dialog_subtitle {
	overflow-x: hidden;
	font-size: 14px;
	text-align: center;
	margin-left: 45px;
	margin-right: 45px;
	margin-bottom: 15px;
	margin-top: 10px;
	color: #39316c;
	font-weight: normal;
	padding-bottom: 20px !important;
}

.signature_dialog_content {
	overflow-x: hidden;
	font-size: 14px;
	text-align: left;
	margin-left: 45px;
	margin-right: 45px;
	margin-bottom: 15px;
	color: #39316c;
	font-weight: normal;
	padding-bottom: 120px !important;
}
